<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="person" class="org.jspiders.myfirstproject.Person">
		
		<property name="id">
		 	<value>101</value>
		</property>
	
		<property name="name">
			<value>King</value>
		</property>
	
		<property name="age">
			<value>22</value>
		</property>
		
		<property name="contact">
			<value>8686266202</value>
		</property>
		
	</bean>	

</beans>